*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.DS_Store
.build/
.classpath
.envrc
.gradle/
.idea/
.project
.rubygems/
.settings
.vscode/
Carthage/
Pods/
actions-runner/
bin/
build/
gradlew.bat
xcuserdata
